## Task 1

https://mlcourse.ai/book/topic01/assignment01_pandas_uci_adult.html#assignment01

In [2]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [1]:
# for Jupyter-book, we copy data from GitHub, locally, to save Internet traffic,
# you can specify the data/ folder from the root of your cloned
# https://github.com/Yorko/mlcourse.ai repo, to save Internet traffic
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"

In [3]:
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
data[data["sex"]=='Female']['age'].mean()

36.85823043357163

1. How many men and women (sex feature) are represented in this dataset?

In [ ]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. What is the average age (age feature) of women?

In [ ]:
data[data["sex"]=="Female"]["age"].mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [ ]:
all=data["native-country"].count()
all

32561

In [ ]:
german=data[data["native-country"]=="Germany"]["native-country"].count()
all=data.shape[0]
german_percent=german/all
german_percent

0.004207487485028101

4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [ ]:
salary_more_mean=data[data["salary"]==">50K"]["age"].mean()
salary_more_std=data[data["salary"]==">50K"]["age"].std()
print (f"The mean and standart deviation of age of people with salary more than 50K is equal to {round(salary_more_mean)} +- {round(salary_more_std,2)}")

The mean and standart deviation of age of people with salary more than 50K is equal to 44 +- 10.52

In [ ]:
salary_less_mean=data[data["salary"]=="<=50K"]["age"].mean()
salary_less_std=data[data["salary"]=="<=50K"]["age"].std()
print (f"The mean and standart deviation of age of people with salary less than 50K is equal to {round(salary_less_mean)} +- {round(salary_less_std,2)}")

The mean and standart deviation of age of people with salary less than 50K is equal to 37 +- 14.02

6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [ ]:
education=data[data["salary"]==">50K"]["education"].unique()
nodegree=['7th-8th', '12th','10th', '11th', '9th', '5th-6th', '1st-4th']
for i in nodegree:
  if i in education:
    print(False,education)
    break

False ['HS-grad' 'Masters' 'Bachelors' 'Some-college' 'Assoc-voc' 'Doctorate'
 'Prof-school' 'Assoc-acdm' '7th-8th' '12th' '10th' '11th' '9th' '5th-6th'
 '1st-4th']

4. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [ ]:
data.groupby(["sex",'race'])["age"].describe()

                             count       mean        std   min   25%   50%  \
sex    race
Female Amer-Indian-Eskimo    119.0  37.117647  13.114991  17.0  27.0  36.0
       Asian-Pac-Islander    346.0  35.089595  12.300845  17.0  25.0  33.0
       Black                1555.0  37.854019  12.637197  17.0  28.0  37.0
       Other                 109.0  31.678899  11.631599  17.0  23.0  29.0
       White                8642.0  36.811618  14.329093  17.0  25.0  35.0
Male   Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0  35.0
       Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0  37.0
       Black                1569.0  37.682600  12.882612  17.0  27.0  36.0
       Other                 162.0  34.654321  11.355531  17.0  26.0  32.0
       White               19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
sex    race
Female Amer-Indian-Eskimo  46.00  80.0
       Asian-Pac-Islander  43.75  75.0
       Black               46.00  90.0
       Other               39.00  74.0
       White               46.00  90.0
Male   Amer-Indian-Eskimo  45.00  82.0
       Asian-Pac-Islander  46.00  90.0
       Black               46.00  90.0
       Other               42.00  77.0
       White               49.00  90.0

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [ ]:
married_list=['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
married_men=data.loc[(data["salary"]==">50K")&(data["marital-status"].isin(married_list))&(data["sex"]=='Male')]["marital-status"].count()

In [ ]:
nonmarried_men=data.loc[(data["salary"]==">50K")&(~data["marital-status"].isin(married_list))&(data["sex"]=='Male')]["marital-status"].count()

In [ ]:
print(f" The number of married men who raise more than 50K is equal to {married_men} and its bigger than number of men who not married = {nonmarried_men}")

 The number of married men who raise more than 50K is equal to 5965 and its bigger than number of men who not married = 697

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [ ]:
# maximum number of hours 
hours=data["hours-per-week"].max()
hours

99

In [ ]:
# number of people who work such a number of hours
number_hardwork=data[data["hours-per-week"]==hours]["hours-per-week"].count()
number_hardwork

85

In [ ]:
# the percentage of those who earn a lot (>50K) among this people
percent_hardwork=((data[(data["hours-per-week"]==hours)&(data["salary"]==">50K")]["hours-per-week"].count())/number_hardwork)*100
percent_hardwork

29.411764705882355

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [ ]:
data.groupby(["native-country",'salary'])["hours-per-week"].describe()

                        count       mean        std   min    25%   50%   75%  \
native-country salary
?              <=50K    437.0  40.164760  12.817002   1.0  40.00  40.0  45.0
               >50K     146.0  45.547945  10.202827   8.0  40.00  40.0  50.0
Cambodia       <=50K     12.0  41.416667   3.088346  40.0  40.00  40.0  40.5
               >50K       7.0  40.000000   0.000000  40.0  40.00  40.0  40.0
Canada         <=50K     82.0  37.914634  13.012056   8.0  32.75  40.0  40.0
...                       ...        ...        ...   ...    ...   ...   ...
United-States  >50K    7171.0  45.505369  11.025092   1.0  40.00  40.0  50.0
Vietnam        <=50K     62.0  37.193548  12.422664   1.0  40.00  40.0  40.0
               >50K       5.0  39.200000   1.788854  36.0  40.00  40.0  40.0
Yugoslavia     <=50K     10.0  41.600000  11.305849  20.0  40.00  40.0  40.0
               >50K       6.0  49.500000  11.202678  40.0  40.00  46.0  58.0

                        max
native-country salary
?              <=50K   99.0
               >50K    80.0
Cambodia       <=50K   50.0
               >50K    40.0
Canada         <=50K   70.0
...                     ...
United-States  >50K    99.0
Vietnam        <=50K   77.0
               >50K    40.0
Yugoslavia     <=50K   66.0
               >50K    65.0

[82 rows x 8 columns]

In [ ]:
# Japan more than 50K
Japan_more=data[(data["native-country"]=='Japan')&(data['salary']=='>50K')]["hours-per-week"].mean()
round(Japan_more,2)

47.96

In [ ]:
# Japan less than 50K
Japan_less=data[(data["native-country"]=='Japan')&(data['salary']=='<=50K')]["hours-per-week"].mean()
round(Japan_less)

41

In [ ]:
pd.crosstab(data["native-country"],data["salary"],values=data["hours-per-week"],aggfunc=np.mean)

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

## Task 2 (Numpy)

1. Array

https://www.hackerrank.com/challenges/np-arrays/problem?isFullScreen=true

In [ ]:
import numpy

def arrays(arr):
    arr=numpy.array(arr[::-1],float)
    return arr

arr = input().strip().split(' ')

2. Shape

 https://www.hackerrank.com/challenges/np-shape-reshape/problem?isFullScreen=true

In [ ]:
import numpy

arr=input().split()
arr=[int(x) for x in arr]
print(numpy.array(arr).reshape(3, 3))

3. Transpose

https://www.hackerrank.com/challenges/np-transpose-and-flatten/problem?isFullScreen=true

In [ ]:
import numpy

arr=[]
n, m = map(int, input().split())
for i in range (n):
    arr.append(input().strip().split())   
new_arr=numpy.array(arr,int)

print(numpy.transpose(new_arr))
print(new_arr.flatten())

4. Concatenate
https://www.hackerrank.com/challenges/np-concatenate/problem?isFullScreen=true

In [ ]:
import numpy

arr1=[]
arr2=[]
n, m, p = map(int, input().split())
for i in range (n):
    arr1.append(input().strip().split())   

new_arr1=numpy.array(arr1,int)

for i in range (m):
    arr2.append(input().strip().split())   

new_arr2=numpy.array(arr2,int)
print (numpy.concatenate((new_arr1, new_arr2), axis = 0))

5. Zeroes 

https://www.hackerrank.com/challenges/np-zeros-and-ones/problem?isFullScreen=true

In [ ]:
import numpy

n=tuple(map(int,input().split()))

print(numpy.zeros(n, dtype = numpy.int))
print (numpy.ones(n, dtype = numpy.int))

6. Identity and Eye

https://www.hackerrank.com/challenges/np-eye-and-identity/problem?isFullScreen=true

In [ ]:
import numpy
numpy.set_printoptions(legacy='1.13')

n,m=map(int,input().split())

print (numpy.eye(n, m, k = 0))

7. Array mathematics 

https://www.hackerrank.com/challenges/np-array-mathematics/problem?isFullScreen=true

In [ ]:
import numpy

n, m = map(int, input().split())
a, b = (numpy.array([input().split() for i in range(n)], dtype=int) for j in range(2))


print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(a**b)

8. Floor

https://www.hackerrank.com/challenges/floor-ceil-and-rint/problem?isFullScreen=true

In [ ]:
import numpy
numpy.set_printoptions(legacy='1.13')

a=input().strip().split()
arr=numpy.array(a,float)

print (numpy.floor(arr))
print (numpy.ceil(arr))
print (numpy.rint(arr))

9. Sum and prod

https://www.hackerrank.com/challenges/np-sum-and-prod/problem?isFullScreen=true

In [ ]:
import numpy

arr=[]
n, m = map(int, input().split())

for i in range (n):
    arr.append(input().strip().split())   

new_arr=numpy.array(arr,int)
new_arr=numpy.sum(new_arr, axis = 0)
print(numpy.prod(new_arr))

10. Min and Max

https://www.hackerrank.com/challenges/np-min-and-max/problem?isFullScreen=true

In [ ]:
import numpy

arr=[]
n, m = map(int, input().split())

for i in range (n):
    arr.append(input().strip().split())   

new_arr=numpy.array(arr,int)
new_arr=numpy.min(new_arr, axis = 1)
print(numpy.max(new_arr))

11. Mean, var, std 

https://www.hackerrank.com/challenges/np-mean-var-and-std/problem?isFullScreen=true

In [ ]:
import numpy

arr=[]
n, m = map(int, input().split())

for i in range (n):
    arr.append(input().strip().split())   

new_arr=numpy.array(arr,int)
print(numpy.mean(new_arr, axis = 1))
print(numpy.var(new_arr,axis = 0))
print(round(numpy.std(new_arr),11))

12. Dot and cross

https://www.hackerrank.com/challenges/np-dot-and-cross/problem?isFullScreen=true

In [ ]:
import numpy

N = int(input())

arr1 = numpy.array([input().split() for i in range(N)], int)
arr2 = numpy.array([input().split() for j in range(N)], int)
print(numpy.dot(arr1, arr2))

13. Inner and Outer

https://www.hackerrank.com/challenges/np-inner-and-outer/problem?isFullScreen=true

In [ ]:
import numpy

A=numpy.array(input().strip().split(),int)
B=numpy.array(input().strip().split(),int)

print(numpy.inner(A, B))
print(numpy.outer(A, B))

14. Polynomials

https://www.hackerrank.com/challenges/np-polynomials/problem?isFullScreen=true

In [ ]:
import numpy

coef=list(map(float,input().strip().split()))
x=int(input())

print(numpy.polyval(coef, x))

15. Linear algebra

https://www.hackerrank.com/challenges/np-linear-algebra/problem?isFullScreen=true

In [ ]:
import numpy

N=int(input())
arr1 = numpy.array([input().split() for i in range(N)], float)
print (round(numpy.linalg.det(arr1),2))